{template "common","header"}

<!--main-->
    <div class="container">
        <div class="banner">
            <div id="banner" class="flexslider">
                <ul class="slides">
                    <!--幻灯片-->
                    {pc:slider action="lists" postion="56" siteid="$siteid" order="desc" num="10"}
                    {loop $data $r}
                        <li>
                            <a href="{$r[url]}">
                                <img src="{$r[image]}" alt="{$r[name]}"/>
                            </a>
                        </li>
                    {/loop}
                </ul>
            </div>
        </div>
    </div>

    <div class="container mgt30">
        <ul class="list-show clearfix">
            <li>
                <h2>
                    <a href="/index.php?m=content&c=index&a=lists&catid=15"><i class="i-link shimu"></i></a>
                </h2>
                <div class="imgframe mgt12">
                    <a href="/index.php?m=content&c=index&a=lists&catid=15">
                        <img src="{APP_PATH}statics/hexi/images/index_smdz.jpg" width="316" height="177"  alt="实木定制"/>
                    </a>
                    <!--{pc:content action="lists" catid="15" num="1" order="listorder DESC" moreinfo="1" page="$page"}-->
                        <!--{loop $data $n $r}-->
                            <!--{loop string2array($r['pictureurls']) $k $v}-->
                                <!--<a href="/index.php?m=content&c=index&a=lists&catid=15">-->
                                    <!--<img src="{$v[url]}" width="316" height="177"  alt="{$v[alt]}"/>-->
                                <!--</a>-->
                                <!--{php break}-->
                            <!--{/loop}-->
                            <!--{php break}-->
                        <!--{/loop}-->
                    <!--{/pc}-->
                </div>
            </li>
            <li>
                <h2>
                    <a href="/index.php?m=content&c=index&a=lists&catid=16"><i class="i-link gongzhuang"></i></a>
                </h2>
                <div class="imgframe mgt12">
                    <a href="/index.php?m=content&c=index&a=lists&catid=16">
                        <img src="{APP_PATH}statics/hexi/images/index_gzzx.jpg" width="316" height="177"  alt="工装装修"/>
                    </a>
                    <!--{pc:content action="lists" catid="16" num="1" order="listorder DESC" moreinfo="1" page="$page"}      -->
                        <!--{loop $data $n $r} -->
                            <!--{loop string2array($r['pictureurls']) $k $v} -->
                                <!--<a href="/index.php?m=content&c=index&a=lists&catid=16">-->
                                    <!--<img src="{$v[url]}" width="316" height="177"  alt="{$v[alt]}"/>-->
                                <!--</a>-->
                                <!--{php break}-->
                            <!--{/loop} -->
                            <!--{php break}-->
                        <!--{/loop} -->
                    <!--{/pc} -->
                </div>
            </li>
            <li>
                <h2>
                    <a href="/index.php?m=content&c=index&a=lists&catid=17"><i class="i-link siren"></i></a>
                </h2>
                <div class="imgframe mgt12">
                    <a href="/index.php?m=content&c=index&a=lists&catid=17">
                        <img src="{APP_PATH}statics/hexi/images/index_srhz.jpg" width="316" height="177"  alt="私人豪宅"/>
                    </a>
                    <!--{pc:content action="lists" catid="17" num="1" order="listorder DESC" moreinfo="1" page="$page"}      -->
                        <!--{loop $data $n $r} -->
                            <!--{loop string2array($r['pictureurls']) $k $v} -->
                                <!--<a href="/index.php?m=content&c=index&a=lists&catid=17">-->
                                    <!--<img src="{$v[url]}" width="316" height="177"  alt="{$v[alt]}"/>-->
                                <!--</a>-->
                                <!--{php break}-->
                            <!--{/loop} -->
                            <!--{php break}-->
                        <!--{/loop} -->
                    <!--{/pc} -->
                </div>
            </li>
        </ul>
    </div>

    <div class="container mgt30 tac">
        <dl class="slogan">
            <dt>
                <i class="i-title"></i>
            </dt>
            <dd>
                <h3>大连和玺装饰设计工程有限公司</h3>
                <h2>国内顶级富豪的私人装修设计顾问</h2>
                <p>独特的构思，独特的理念，带给您赏心悦目的居住环境，</p>
                <p>一流的设计团队，一流的施工队伍，独特的制作工艺，</p>
                <p>让您装修放心，住得安心！</p>
            </dd>
            <dd class="mgt70">
                <a href="/index.php?m=content&c=index&a=lists&catid=15" class="more">最新工程案例 →</a>
            </dd>
        </dl>
    </div>
<!--main end-->

{template "common","footer"}

<script type="text/javascript">
    $(function(){
            $('#banner').flexslider({
                animation: "slide",     //动画效果
                directionNav: true,    //显示方向箭头？false
                slideshow: true,      //多张开启自动滚动
                slideshowSpeed: 3000,
                animationSpeed: 400,
                prevText: '',
                nextText: ''
             });
        });
</script>
</body>
</html>