{template "common","header"}

<!--main-->
    <div class="container">
        <div class="banner">
            <div id="banner" class="flexslider">
                <ul class="slides">
                    <li>
                        <a href="">
                            <img src="{APP_PATH}statics/hexi/images/demo/banner.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{APP_PATH}statics/hexi/images/demo/banner.jpg"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{APP_PATH}statics/hexi/images/demo/banner.jpg"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container mgt30">
        <ul class="list-show clearfix">
            <li>
                <h2>
                    <a href=""><i class="i-link shimu"></i></a>
                </h2>
                <div class="imgframe mgt12">
                    <img src="{APP_PATH}statics/hexi/images/demo/demo1.jpg" alt="" />
                </div>
            </li>
            <li>
                <h2>
                    <a href=""><i class="i-link gongzhuang"></i></a>
                </h2>
                <div class="imgframe mgt12">
                    <img src="{APP_PATH}statics/hexi/images/demo/demo1.jpg" alt="" />
                </div>
            </li>
            <li>
                <h2>
                    <a href=""><i class="i-link siren"></i></a>
                </h2>
                <div class="imgframe mgt12">
                    <img src="{APP_PATH}statics/hexi/images/demo/demo1.jpg" alt="" />
                </div>
            </li>
        </ul>
    </div>

    <div class="container mgt30 tac">
        <dl class="slogan">
            <dt>
                <i class="i-title"></i>
            </dt>
            <dd>
                <h3>大连和玺装饰设计工程有限公司</h3>
                <h2>国内顶级富豪的私人装修设计顾问</h2>
                <p>独特的构思，独特的理念，带给您赏心悦目的居住环境，</p>
                <p>一流的设计团队，一流的施工队伍，独特的制作工艺，</p>
                <p>让您装修放心，住得安心！</p>
            </dd>
            <dd class="mgt70">
                <a href="" class="more">最新工程案例 →</a>
            </dd>
        </dl>
    </div>
<!--main end-->

{template "common","footer"}