{template "common","header"}

<div class="container">
    <div class="banner colums case clearfix">
        <div class="left">
            <div class="inner-ctner">
            <?php if($_GET['id'] != ''){ $id = intval($_GET['id']); ?>

                {pc:get sql="SELECT * FROM hx_picture as a left join hx_picture_data as b on a.id=b.id WHERE a.catid='$catid' and a.id='$id'"  return="data"}
                    <h2>{$data[0]['title']}</h2>
                {/pc} 

            <?php }else{ ?>

                {pc:content action="lists" catid="$catid" num="1" order="listorder DESC" moreinfo="1" page="$page"}      
                    {loop $data $n $r} 
                        <h2>{$r['title']}</h2>
                    {/loop} 
                {/pc} 

            <?php } ?>
            </div>
        </div>
        <div class="right">
            <div id="banner" class="flexslider">
                <ul class="slides">
                    <?php if($_GET['id'] != ''){ $id = intval($_GET['id']); ?>
                        {pc:get sql="SELECT * FROM hx_picture as a left join hx_picture_data as b on a.id=b.id WHERE a.catid='$catid' and a.id='$id'"  return="data"}
                            {loop $data $n $r} 
                                {loop string2array($r['pictureurls']) $k $v} 
                                    <li>
                                        <img src="{thumb($v[url],175,120)}"  alt="{$v[alt]}"/>
                                    </li>
                                {/loop} 
                            {/loop}

                        {/pc} 

                    <?php }else{ ?>
                        {pc:content action="lists" catid="$catid" num="1" order="listorder DESC" moreinfo="1" page="$page"}      
                            {loop $data $n $r} 
                                {loop string2array($r['pictureurls']) $k $v} 
                                    <li>
                                        <img src="{thumb($v[url],175,120)}"  alt="{$v[alt]}"/>
                                    </li>
                                {/loop} 
                            {/loop} 
                        {/pc} 
                    <?php } ?>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container colums mgt30 clearfix">
    <div class="left">
        {template "common","nav_left"}
    </div>
    <div class="right">
        <ul class="case-list clearfix pdb45">

            {pc:content action="lists" catid="$catid" num="100" order="listorder DESC" moreinfo="1" }
                {loop $data $n $r}

                    {php $pictureurls = string2array($r['pictureurls']);}
                        <li class="ctner">
                            <i class="i-link shimu">{$r[title]}</i>
                            <a href="/index.php?m=content&c=index&a=lists&catid={$catid}&id={$r[id]}">
                                <div class="img-frame">
                                    <img src="{thumb($pictureurls[0]['url'],175,120)}" alt="{$pictureurls[0]['alt']}" />
                                </div>
                            </a>
                        </li>
                {/loop} 
                
            {/pc} 
            
        </ul>
    </div>
</div>

{template "common","footer"}

<script type="text/javascript">
    $(function(){
        $('#banner').flexslider({
            animation: "fade",     //动画效果
            directionNav: false,    //显示方向箭头？false
            slideshow: true,      //多张开启自动滚动
            slideshowSpeed: 3000,
            animationSpeed: 400,
            manualControlEvent: 'hover',
            start: function(obj){
                var $sliders = obj.find('li'),
                        exist = $sliders.length/2;
                var $pager = $('.flex-control-nav', obj);
                for(var i=0; i<exist; i++){
                    console.log($('li:eq('+i+') img', obj).attr('src'));
                    var src=$('li:eq('+i+') img', obj).attr('src');
                    $('li>a', $pager).css({
                        'background-image': 'url('+src+')',
                        'background-repeat': 'no-repeat',
                        'background-size': '100% auto'
                    });
                    $('li>a', $pager).on('mouseenter', function(){
                        $(this).click();
                    });
                }
            }
        });
    });
</script>
</body>
</html>