{template "common","header"}
<div class="container">
    <div class="banner colums cus-list customer">
    </div>
</div>

<div class="container colums mgt30 clearfix">
    <div class="left">
        {template "common","nav_left"}
    </div>
    <div class="right">
        <div class="case-txt clearfix pdb90 cus-list">
            <h2 class="title">
                <i class="c-case mgt20"></i>
                <i class="c-list"></i>
            </h2>

            <ul class="mgt60">
                {$content}
            </ul>
        </div>
    </div>
</div>
{template "common","footer"}
</body>
</html>