{template "common","header"}



<section class="container-width about">

	<div class="container">

		<div class="wrapper">

		<!-- 注意不要把a标签的换行加入字 -->

			<p class="crumb clearfix">

				<a href="/">首页</a>

				<a href="javascript:void(0);" class="current">About us</a>

			</p>

	<!-- 		<h2 class="page-title en">

				<img class="titleIMG" style="width:239px;" src="{APP_PATH}statics/allsure/images/ABOUT US.png" alt="">

				ABOUT US

			</h2> -->

			<article class="main-cet">

				{$content}

				

				<p class="welcome mgt190">

					<a href="/index.php?m=content&c=index&a=show&catid=11&id=4"> Welcome to join us  >></a>

				</p>

			</article>

		</div>

	</div>

</section>

<footer>

	

</footer>



</body>

</html>

