<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="qc:admins" content="23406061474621616137636" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>和玺装饰</title>
    <link rel="stylesheet" type="text/css" href="../plugins/flexslider/flexslider.css">
    <link rel="stylesheet" type="text/css" href="../css/base.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="logo">和玺装饰</h1>
            <div class="contact fr">
                <div class="left">
                    <i class="i-phone"></i>
                </div>
                <div class="right">
                    <span class="label">24小时装修咨询热线</span><br/>
                    <span class="n-phone">0411-84586967</span>
                </div>
            </div>
        </div>
    </div>
    <div class="navigator">
        <div class="container">
            <ul class="subNav clearfix">
                <li>
                    <a class="active" href="">和玺介绍</a>
                </li>
                <li>
                    <a href="">工程案例</a>
                    <ul class="ssubNav">
                        <li><a href="">实木定制</a></li>
                        <li><a href="">工装装修</a></li>
                        <li><a href="">私人豪宅</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">产品展示</a>
                </li>
                <li>
                    <a href="">人才招聘</a>
                </li>
                <li>
                    <a href="">客户名录</a>
                </li>
                <li>
                    <a href="">联系方式</a>
                </li>
                <li>
                    <a href="">新项目报价</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="banner colums cus-list">
        </div>
    </div>

    <div class="container colums mgt30 clearfix">
        <div class="left">
            <ul class="left-labels">
                <li class="title"><i class="i-link i-title2"></i></li>
                <li><a href=""><i class="i-link w-shimu"></i></a></li>
                <li><a href=""><i class="i-link w-gongzhuang"></i></a></li>
                <li><a href=""><i class="i-link w-siren"></i></a></li>
            </ul>
        </div>
        <div class="right">
            <div class="case-txt clearfix pdb90 cus-list">
                <h2 class="title">
                    <i class="c-case mgt20"></i>
                    <i class="c-list"></i>
                </h2>

                <ul class="mgt60">
                    <li>1、铜加工企业名录Company Name List中英文版_百度文库</li>
                    <li>2、铜加工企业名录Company Name List中英文版_百度文库</li>
                    <li>3、铜加工企业名录Company Name List中英文版_百度文库</li>
                    <li>1、铜加工企业名录Company Name List中英文版_百度文库</li>
                    <li>2、铜加工企业名录Company Name List中英文版_百度文库</li>
                    <li>3、铜加工企业名录Company Name List中英文版_百度文库</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="bg">
            <div class="container">
                <div class="clearfix">
                    <div class="main-info">
                        <div class="left">
                            <ul>
                                <li style="width: 246px; height: 27px;"><img src="../images/company.png" alt=""></li>
                                <li class="mgt">地址：大连市沙河口区五一路幸福家居临街16号</li>
                                <li>电话：0411-84586967</li>
                                <li>企业邮箱：hxdlscs@163.com</li>
                            </ul>
                        </div>
                        <div class="right">
                            <img src="../images/code.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="mgt20" style="font-size: 10px;">
                    大连和玺装饰设计工程有限公司 地址：大连市沙河口区五一路解放广场幸福家居临街16号 电话：0411-84586967 传真：0411-84586967-608 辽ICP备12014387 &nbsp;&nbsp;&nbsp; 技术支持：致简品牌
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="../plugins/jquery/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="../plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
        $(function(){
            
        });
    </script>
</body>
</html>
