{template "common","header"}
<!--main-->
    <section class="container-width about">
        <div class="work-box  join-box">
            <div class="container" style="padding-top: 50px;">
   
                <!-- 注意不要把a标签的换行加入字 -->
                    <p class="crumb clearfix"  style="margin-bottom: 90px;">
                        <a href="/">首页</a>
                        <a href="javascript:void(0);" class="current">Works</a>
                    </p>

                    <div class="ctner-line">
                        <p><img src="{APP_PATH}statics/allsure/images/logoo.png" style="margin-left: -285px;" alt=""><span style="font-size: 40px;color: #636363;font-family:'黑体';position:absolute;right: 300px;top:33px;">傲雪</span></p>  
                        <span></span>
                    </div>

                    <p class="contact-mail" style="margin-top:140px;margin-right: 0;">www.cgassist.com</p>

                    <script type="text/javascript" src="{APP_PATH}statics/allsure/js/masonry.pkgd.min.js"></script>
                    <script type="text/javascript" src="{APP_PATH}statics/allsure/js/imagesloaded.pkgd.min.js"></script>
                    <script type="text/javascript">
                        $(function(){
                            var $container = $('#container');
                            $container.imagesLoaded(function(){
                                $container.masonry({
                                    itemSelector: '.grid-item',
                                    columnWidth: 25 //每两列之间的间隙为5像素
                                });
                            });

                    });
                    </script>


                    <article id="work_list_wrap" class="main-cet" style="margin-top: 65px;">
 <!--                        <div class="work-tabs">
                            <?php if(@$_GET['work_type'] == 'pic'){ ?>
                                <a href="/index.php?m=content&c=index&a=lists&catid=8&work_type=mov#work_list_wrap">MOV</a>
                                <a class="active"  href="/index.php?m=content&c=index&a=lists&catid=8&work_type=pic#work_list_wrap">PIC</a>
                            <?php }else{ ?>
                                <a class="active" href="/index.php?m=content&c=index&a=lists&catid=8&work_type=mov#work_list_wrap">MOV</a>
                                <a href="/index.php?m=content&c=index&a=lists&catid=8&work_type=pic#work_list_wrap">PIC</a>
                            <?php } ?>
                        </div> -->

                        <ul class="grid-list clearfix" id="container">
                            <?php 
                                // if(@$_GET['work_type'] == 'pic'){
                                //     $cid = " catid IN (17,18)";
                                // }else{
                                //     $cid = " catid IN (15,16)";
                                // }
                            ?>
                            <!-- {pc:content action="lists" catid="8" num="1000" where="$cid" order="id DESC" moreinfo="1" page="$page"} -->
                            {pc:content action="lists" catid="8" num="1000" order="id DESC" moreinfo="1" page="$page"}
                                {loop $data $r}
                                    <?php $pics = string2array($r['pictureurls']); ?>

                                    <li class="grid-item">
                                        <div class="grid-cover">
                                            <?php if ($r[catid] == 15 || $r[catid] == 16){ ?>
                                               <a rel="group"  href="<?php echo rtrim($r[content]); ?>" title="{$r[title]}"> 
                                            <?php }else{ ?>
                                                <a rel="group" href="{$pics[0][url]}" title="{$r[title]}">
                                            <?php } ?>
                                                <img src="{$pics[0][url]}" alt="{$r[title]}">
                                            </a>

                                        </div>
                                        <p class="grid-brief">
                                            {$r[title]}
                                        </p>
                                    </li>

                                {/loop}
                            {/pc}
                            
                        </ul>

                        <div class="friend clearfix">
                            {pc:link  action="type_list" siteid="$siteid" linktype="1" order="listorder DESC" num="" return="pic_link"}
                                {loop $pic_link $v}
                                <a href="{$v['url']}" title="{$v['name']}" target="_blank">
                                    <img src="{$v[logo]}" />
                                </a>
                                {/loop}
                            {/pc}
                        </div>
                    </article>

            </div>          

        </div>

    </section>


<footer></footer>

</body>

</html>

<!--    <div class="main photo-channel">

<div class="crumbs"><a href="{siteurl($siteid)}">首页</a><span> > {catpos($catid)}</div>

<div class="bk10"></div>

    {pc:content action="lists" catid="$catid" num="10" order="id DESC" page="$page"}

        <ul class="photo-list picbig">

            {loop $data $r}

            <li>

            <div class="img-wrap">

            <a href="{$r[url]}"><img src="{thumb($r[thumb],150,112)}" width="150" height="112" alt="{$r[title]}"/></a>

            </div>

            <span style="color:{$r[style]}">{str_cut($r[title],28)}</span>

            </li>

            {/loop}

        </ul>

        <div id="pages" class="text-c">{$pages}</div>

    {/pc}

    </div>

</div> -->

