<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="qc:admins" content="23406061474621616137636" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
    <link rel="stylesheet" type="text/css" href="{APP_PATH}statics/hexi/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" type="text/css" href="{APP_PATH}statics/hexi/css/base.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1 class="logo">和玺装饰</h1>
        <div class="contact fr">
            <div class="left">
                <i class="i-phone"></i>
            </div>
            <div class="right">
                <span class="label">24小时装修咨询热线</span><br/>
                <span class="n-phone">0411-84586967</span>
            </div>
        </div>
    </div>
</div>
<div class="navigator">
    <div class="container">
        {template "common","nav"}

    </div>
</div>